<div class="registration-frame">
    <div layout-align="center center">
      <h2>Welcome to Chaton</h2>
      <mat-tab-group>
        <mat-tab label="Login">
          <form [formGroup]="loginForm" class="form" (ngSubmit)="onLogin()">
            <mat-form-field>
              <input matInput placeholder="Email" [formControl]="loginForm.controls['email']" />
              <mat-error *ngIf="!loginForm.controls['email'].valid">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" [formControl]="loginForm.controls['password']" />
              <mat-error *ngIf="!loginForm.controls['password'].valid">
                <span *ngIf="loginForm.controls['password'].hasError('emailOrPassword')">
                  Email or password wrong
                </span>
                <span *ngIf="!loginForm.controls['password'].hasError('emailOrPassword')">
                  Password required
                </span>
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
          </form> 
        </mat-tab>
        <mat-tab label="Register">
          <form [formGroup]="signupForm" class="form" (ngSubmit)="onSignup()">
            <mat-form-field>
              <input matInput placeholder="Email" [formControl]="signupForm.controls['email']"/>
              <mat-error *ngIf="!signupForm.controls['email'].valid">
                  <span *ngIf="signupForm.controls['email'].hasError('duplicate')">
                    This email already exists
                  </span>
                  <span *ngIf="!signupForm.controls['email'].hasError('duplicate')">
                    Please enter a valid email address
                  </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Username" [formControl]="signupForm.controls['username']" />
              <mat-error *ngIf="!signupForm.controls['username'].valid">
                  Username required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Age" [formControl]="signupForm.controls['age']" />
              <mat-error *ngIf="!signupForm.controls['age'].valid">
                  Age must be number
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Gender" [formControl]="signupForm.controls['gender']">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
              </mat-select>
              <mat-error *ngIf="!signupForm.controls['gender'].valid">
                  Gender required
              </mat-error> 
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" [formControl]="signupForm.controls['password']"/>
              <mat-error *ngIf="!signupForm.controls['password'].valid">
                  Password must min length 6
              </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Repassword" [formControl]="signupForm.controls['repassword']" />
                <mat-error *ngIf="!signupForm.controls['repassword'].valid">
                    Password doesn't match
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Sign up</button>
        </form> 
      </mat-tab>
    </mat-tab-group>
  </div>
</div>