/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
body{
    background-image: url('assets/images/bg.jpg');
    background-size: cover;
    margin: 0;
}
a:hover {
    cursor: pointer;
}
mat-tab-group {
    background-color: #eee;
}

.form {
    display: flex;
    flex-direction: column;
}
  
.form > * {
    width: 100%;
}

.pink {
    color: pink;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

 